/* For unique scrollbar design */
/* Scrollbar width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: rgba(2, 241, 285, 0);
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #999599;
    border-radius: 1vw;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #59606C;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: "Tahoma", sans-serif;
}

.map {
    display: flex;
    width: 45%;
    /* height: 100vh; */
    padding: 6vw;
    padding-top: 10px;
    padding-bottom: 0;
}

.map:first-child {
    height: 100vh;
}


/* Don't show check-box, only the button label #indian-btn, #holmes-btn, etc. */
input  {
    display: none;
}

/* button label style */
.btn {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    text-align: center;
    font-size: 0.8vw;
}

#indian-btn {
    border: 3.5px solid cornflowerblue;
    background-color: cornflowerblue;
    left: 38vw;
    top: 64%;
}

#holmes-btn {
    border: 3.5px solid #667be2;
    background-color: #667be2;
    left: 4vw;
    top: 64%;
}

#bankhead-btn {
    border: 3.5px solid lightseagreen;
    background-color: lightseagreen;
    left: 8.3vw;
    top: 57%;
}

#edgewood-btn {
    border: 3.5px solid #65c38f;
    background-color: #65c38f;
    left: 29vw;
    top: 59.6%;
    width: 5vw;
}

#northSprings-btn {
    border: 3.5px solid #e37b7a;
    background-color: #e37b7a;
    left: 21.8vw;
    top: 0.4vw;
}

#doraville-btn {
    border: 3.5px solid #f1d999;
    background-color: #f1d999;
    left: 29.5vw;
    top: 19%;
}

#airport-btn {
    border: 3.5px solid sienna;
    background-color: sienna;
    left: 17vw;
    bottom: -0.5vw;
}

/* on hover, change effect and make it look clickable with pointer cursor */
.btn:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

/* when station clicked, show the pop-up info */
#indian:checked ~ #indian_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(64% - 31%);
    left: 38.2%;
}

#holmes:checked ~ #holmes_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(64% + 4.5%);
    left: 4%;
}

#bankhead:checked ~ #bankhead_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(57% - 31%);
    left: 8.3%;
}

#edgewood:checked ~ #edgewood_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(59.6% - 31%);
    left: 29%;
}

#northSprings:checked ~ #northSprings_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 10.4%;
}

#doraville:checked ~ #doraville_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 23%;
    left: 29.5%;
}

#airport:checked ~ #airport_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -1%;
    left: 20.5%;
}

/* styling of pop-up */

/* parent container for pop-up (until a station is clicked, display is none) */
.pop_up {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid darkgrey;
    width: 17%;
    height: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    background-color: white;
    z-index: 13;
}

.station_name {
    text-align: center;
    width: 100%;
    font-size: 19pt;
    padding: 0 3px 8px 3px;
    margin-bottom: 0;
    border-bottom: 2px solid grey;
}

.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.img img {
    width: 100%;
}

.pop_up .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-top: 0;
}

.pop_up .body p {
    margin: 5px;
}

/* html and css validators */
.validators {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
}

.marta_welcome {
    margin: 0;
    margin-left: 9vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    background-color: #f0ede9;
}

.marta_welcome div {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1vw;
    padding: 1vw;
}

.marta_welcome .introduction {
    background-color: #52d4f2;
}

.marta_welcome .resources {
    background-color: #e5a950;
}