/* For unique scrollbar design */
/* Scrollbar width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: rgba(2, 241, 285, 0);
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #999599;
    border-radius: 1vw;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #59606C;
}

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-family: "Tahoma", sans-serif;
}

audio {
    position: absolute;
    left: 0;
    top: 0;
    width: 15vw;
}

.map {
    display: flex;
    width: 45%;
    padding: 6vw;
    padding-top: 10px;
    padding-bottom: 0;
}

.map:first-child {
    height: 100vh;
}

/* Don't show check-box, only the button label #indian-btn, #holmes-btn, etc. */
input  {
    display: none;
}

/* button label style */
.btn {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    text-align: center;
    font-size: 0.8vw;
}

#indian-btn {
    border: 3.5px solid cornflowerblue;
    background-color: cornflowerblue;
    left: 36vw;
    top: 64%;
}

#holmes-btn {
    border: 3.5px solid #667be2;
    background-color: #667be2;
    left: 4vw;
    top: 64%;
}

#bankhead-btn {
    border: 3.5px solid lightseagreen;
    background-color: lightseagreen;
    left: 8.3vw;
    top: 57%;
}

#edgewood-btn {
    border: 3.5px solid #65c38f;
    background-color: #65c38f;
    left: 27vw;
    top: 59.6%;
    width: 5vw;
}

#northSprings-btn {
    border: 3.5px solid #e37b7a;
    background-color: #e37b7a;
    left: 21.8vw;
    top: 0.4vw;
}

#doraville-btn {
    border: 3.5px solid #f1d999;
    background-color: #f1d999;
    left: 29.5vw;
    top: 19%;
}

#airport-btn {
    border: 3.5px solid rgb(251, 85, 8);;
    background-color: rgb(251, 85, 8);;
    left: 17vw;
    bottom: -0.5vw;
}

/* on hover, change button effect and make it look clickable with pointer cursor */
.btn:hover {
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

/* when station clicked, show the pop-up info */
#indian:checked ~ #indian_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(64% - 31%);
    left: 38.2%;
}

#holmes:checked ~ #holmes_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(64% + 4.5%);
    left: 4%;
}

#bankhead:checked ~ #bankhead_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(57% - 31%);
    left: 8.3%;
}

#edgewood:checked ~ #edgewood_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(59.6% - 31%);
    left: 29%;
}

#northSprings:checked ~ #northSprings_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 10.4%;
}

#doraville:checked ~ #doraville_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 23%;
    left: 29.5%;
}

#airport:checked ~ #airport_pop_up {   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -1%;
    left: 20.5%;
}

/* styling of pop-up */

/* parent container for pop-up (until a station is clicked, display is none) */
.pop_up {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid darkgrey;
    width: 17%;
    height: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    background-color: white;
    z-index: 13;
}

.station_name {
    text-align: center;
    width: 100%;
    font-size: 19pt;
    padding: 0 3px 8px 3px;
    margin-bottom: 0;
    border-bottom: 2px solid grey;
}

.img {
    width: 100%;
    height: 100%;
    text-align: center;
}

.img img {
    width: 100%;
}

.pop_up .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-top: 0;
}

.pop_up .body p {
    margin: 5px;
}

/* train animation */

/* Style the train images */
.train {
    position: absolute;
    width: 50px;
    height: 50px;
}

.train img {
    width: 100%; /* Set the image to fill the container */
}

/* Define individual animations for each train */

/* Blue Train */
.train-blue {
    left: 0;
    top: 430px; /* Set the starting position for the blue train */
    animation: moveRightBlue 3s  infinite alternate;
}

@keyframes moveRightBlue {
    0% { left: -5px; }
    100% { left: 470px; }
}

/* Green Train */
.train-green {
    left: 10px;
    top: 390px;
    animation: moveRightGreen 3s infinite alternate;
}

@keyframes moveRightGreen {
    0%{
        top: 382px;
        left: 20px;
    }
    40%{
        top: 420px;
        left: 140px;
    }     
    100% { 
        top: 420px;
        left: 340px;
    }
}

/* Red Train */
.train-red {
    left: 226px;
    animation: moveDownRed 6s infinite alternate;
}

@keyframes moveDownRed {
    0% {
        top: 0;
        left: 226px;
    }
    10% {
        top: 35px; 
        left: 250px;
 }
    20% {
        top: 75px; 
        left: 250px;
 }
    30% {
        top: 125px; 
        left: 222px;
 }
    40% {
        top: 182px; 
        left: 222px;
 }
    50% {
        top: 240px; 
        left: 172px;
 }
    60% {
        top: 400px; 
        left: 175px;
 }
    70% {
        top: 480px; 
        left: 120px;
 }
 
    90% {
        top: 650px; 
        left: 120px;
 }
    100% {
        top: 655px; 
        left: 160px;
 }
}

/* Gold Train */
.train-gold {
    top: 120px;
    left: 340px;
    animation: moveDownGold 4s infinite alternate;
}

@keyframes moveDownGold {
    0% { 
        top: 120px; 
        left: 370px; 
    }
    20% { 
        top: 242px; 
        left: 190px; 
    }
    40% { 
        top: 430px; 
        left: 190px; 
    }
    60% { 
        top: 490px; 
        left: 150px; 
    }

    90% { 
        top: 630px;
        left: 150px; 
    }
    100% { 
        top: 650px;
        left: 170px; 
    }
}

/* right sidebar with MARTA information */

.marta_welcome {
    margin: 0;
    margin-left: 9vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    background-color: #f0ede9;
}

/* style the introduction and resources divs */
.marta_welcome div {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1vw;
    padding: 1vw;
}

.marta_welcome .introduction {
    background-color: #52d4f2;
}

.marta_welcome .introduction h1 {
    text-align: center;
    font-size: 1.7em;
    animation: color-change 1.5s infinite;
}
  
@keyframes color-change {
    0% { color: #f27120; }
    50% { color: #feb20f; }
    90% { color: #0192ce; }
    100% { color: #f27120; }
}

.marta_welcome .resources {
    background-color: #e5a950;
}

/* html and css validators */
.validators {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
}